In [10]:
import pandas as pd
import os

In [17]:
#Ajustando dados de clima para quem sabe poderem ser usados tamb√©m

path = "../dataset/"
df_weather = pd.read_csv(path+"weather (table 7)_training_update.csv")
df_weather = df_weather.append(
pd.read_csv(path+"weather (table 7)_test1.csv")).append(pd.read_csv(path+"weather (table 7)_2.csv"))

df_weather.tail()

,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
51,2016-10-31,9,1022.1,1027.3,349.0,2.3,14.8,89.0,0.1
52,2016-10-31,12,1024.2,1029.4,7.0,2.8,14.8,84.0,0.0
53,2016-10-31,15,1025.0,1030.2,0.0,4.5,14.5,83.0,0.0
54,2016-10-31,18,1024.7,1029.9,360.0,4.1,14.1,85.0,0.0
55,2016-10-31,21,1025.7,1030.9,25.0,3.6,13.0,91.0,0.0

In [15]:
df_weather["hour"] = df_weather["hour"]
df_weather[
    ["date", "hour", "pressure", "sea_pressure", "wind_direction", "wind_speed", "temperature", "rel_humidity",
        "precipitation"]].to_csv("data_after_process/feature_clima.csv", index=False)

In [16]:
df_weather.tail()

,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
51,2016-10-31,9,1022.1,1027.3,349.0,2.3,14.8,89.0,0.1
52,2016-10-31,12,1024.2,1029.4,7.0,2.8,14.8,84.0,0.0
53,2016-10-31,15,1025.0,1030.2,0.0,4.5,14.5,83.0,0.0
54,2016-10-31,18,1024.7,1029.9,360.0,4.1,14.1,85.0,0.0
55,2016-10-31,21,1025.7,1030.9,25.0,3.6,13.0,91.0,0.0